- name: Add cert-manager Helm repository
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: https://charts.jetstack.io
  tags:
    - cert-manager
- name: Install/Upgrade cert-manager
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig }}"
    name: cert-manager
    chart_ref: jetstack/cert-manager
    chart_version: "{{ certmanager_chart_version }}"
    namespace: cert-manager
    create_namespace: true
    values:
      installCRDs: true
    wait: true
    wait_timeout: 600s
  tags:
    - cert-manager
- name: Create secret for Rancher cluster issuer CAs.
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ certmanager_cluster_issuer_name }}"
        namespace: cert-manager
      type: kubernetes.io/tls
      data:
        tls.crt: "{{ certmanager_subca_crt | b64encode }}"
        tls.key: "{{ certmanager_subca_key | b64encode }}"
  tags:
    - cert-manager 
- name: Create ClusterIssuer for Rancher
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: "{{ certmanager_cluster_issuer_name }}"
      spec:
        ca:
          secretName: "{{ certmanager_cluster_issuer_name }}"
  tags:
    - cert-manager