{{ glstackdeploy_gl_elasticsearch_username }}:{{ glstackdeploy_gl_elasticsearch_password_crypt }}
{#{{ glstackdeploy_gl_elasticsearch_username }}:$2a$10$T1cxG6bG8JxepC63jh5.0Od8FPbtwo2dEyBQZAHodLieC074Hu6M6#}