is_master = false
node_id_file = data/node-id
password_secret = thisisnotarandomtext
root_password_sha2 = 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918

root_timezone = Europe/Madrid

http_bind_address = 0.0.0.0:9000 

#http_tls_cert_file = /path/to/graylog.crt
#http_tls_key_file = /path/to/graylog.key.pkcs8
#http_tls_key_password = secret

trusted_proxies = 10.0.0.0/8,172.18.0.0/16

elasticsearch_hosts = http://{{ (glstackdeploy_es_security == "true") | ternary ( 'elastic:patatasecreta@', '') }}esdata-hot:9200
elasticsearch_version = 7

rotation_strategy = size
elasticsearch_max_size_per_index = {{ glstackdeploy_gl_elasticsearch_max_size_per_index }}
elasticsearch_max_number_of_indices = {{ glstackdeploy_gl_elasticsearch_max_number_of_indices }}
elasticsearch_retention_strategy = {{ glstackdeploy_gl_retention_strategy }}
elasticsearch_shards = {{ glstackdeploy_gl_elasticsearch_shards }}
elasticsearch_replicas = {{ glstackdeploy_gl_elasticsearch_replicas }}
elasticsearch_index_prefix = graylog

output_batch_size = {{ glstackdeploy_gl_output_batch_size }}
output_flush_interval = 1

output_fault_count_threshold = 3
output_fault_penalty_seconds = 300

processbuffer_processors = {{ glstackdeploy_gl_processbuffer_processors }}
outputbuffer_processors = {{ glstackdeploy_gl_outputbuffer_processors }}

#outputbuffer_processor_threads_max_pool_size = 30

processor_wait_strategy = {{ glstackdeploy_gl_processor_wait_strategy }}

ring_size = 65536

inputbuffer_ring_size = 65536
inputbuffer_processors = {{ glstackdeploy_gl_inputbuffer_processors }}
inputbuffer_wait_strategy = blocking

# Enable the message journal.
message_journal_enabled = true
message_journal_dir = data/journal

message_journal_max_size = {{ glstackdeploy_gl_message_journal_max_size_gb }}gb

lb_recognition_period_seconds = 3

lb_throttle_threshold_percentage = 75

mongodb_uri = mongodb://mongo1:27017,mongo2:27017,mongo3:27017/graylog?replicaSet=graylog

# DNS Seedlist https://docs.mongodb.com/manual/reference/connection-string/#dns-seedlist-connection-format
#mongodb_uri = mongodb+srv://server.example.org/graylog

# Disable the use of a native system stats collector (currently OSHI)
#disable_native_system_stats_collector = false

# The default cache time for dashboard widgets. (Default: 10 seconds, minimum: 1 second)
dashboard_widget_default_cache_time = 60s

# For some cluster-related REST requests, the node must query all other nodes in the cluster. This is the maximum number
# of threads available for this. Increase it, if '/cluster/*' requests take long to complete.
# Should be http_thread_pool_size * average_cluster_size if you have a high number of concurrent users.
proxied_requests_thread_pool_size = 32


#enabled_tls_protocols= TLSv1.3

# Enable Prometheus exporter HTTP server.
# Default: false
prometheus_exporter_enabled = {{ glstackdeploy_gl_prometheus_exporter_enabled | bool}}

# IP address and port for the Prometheus exporter HTTP server.
# Default: 127.0.0.1:9833
prometheus_exporter_bind_address = 0.0.0.0:{{ glstackdeploy_gl_prometheus_exporter_bind_port }}

content_packs_auto_install = {{ glstackdeploy_gl_content_packs_auto_install }}
content_packs_dir = {{ glstackdeploy_gl_content_packs_dir }}
content_packs_loader_enabled = {{ glstackdeploy_gl_content_packs_loader_enabled | bool }}
